{% extends 'core/base.html' %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="products w-full lg:w-3/4">
        <h1 class="mb-5 text-3xl">Checkout</h1>

        <div class="w-full pr-6">
            <div class="mb-6 p-6 bg-gray-100 rounded-xl">
                <h2 class="mb-5 uppercase text-lg">Shipping information</h2>

                <div class="flex space-x-6">
                    <div class="w-1/2 mb-4">
                        <label class="inline-block mb-2">First name</label>
                        <input type="text" class="w-full p-5 rounded-xl">
                    </div>

                    <div class="w-1/2 mb-4">
                        <label class="inline-block mb-2">Last name</label>
                        <input type="text" class="w-full p-5 rounded-xl">
                    </div>
                </div>

                <div class="mb-4">
                    <label class="inline-block mb-2">Address</label>
                    <input type="text" class="w-full p-5 rounded-xl">
                </div>

                <div class="flex space-x-6">
                    <div class="w-1/2 mb-4">
                        <label class="inline-block mb-2">Zip code</label>
                        <input type="text" class="w-full p-5 rounded-xl">
                    </div>

                    <div class="w-1/2 mb-4">
                        <label class="inline-block mb-2">City/Place</label>
                        <input type="text" class="w-full p-5 rounded-xl">
                    </div>
                </div>
            </div>

            <div class="mb-6 p-6 bg-gray-100 rounded-xl">
                <h2 class="mb-5 uppercase text-lg">Contact information</h2>

                <div class="mb-4">
                    <label class="inline-block mb-2">Email</label>
                    <input type="email" class="w-full p-5 rounded-xl">
                </div>

                <div class="mb-4">
                    <label class="inline-block mb-2">Phone</label>
                    <input type="phone" class="w-full p-5 rounded-xl">
                </div>
            </div>

            <div class="mb-6 p-6 bg-gray-100 rounded-xl">
                <h2 class="mb-5 uppercase text-lg">Payment information</h2>
            </div>
        </div>
    </div>

    <div class="summary w-full w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
        <h2 class="uppercase text-lg mb-5">Summary</h2>

        <div class="mb-6 flex justify-between">
            <span class="font-semibold">Total</span>
            <span>$99</span>
        </div>

        <a href="#" class="inline-block px-8 py-4 rounded-xl bg-purple-500 hover:bg-purple-700 text-white">Confirm checkout</a>
    </div>
</div>
{% endblock %}